<div>
  <%= form_for @greeting do |form| %>
    <div>
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>
  <div>
    <%= form.label :recipient_id, "Send to:" %>
    <%= form.collection_select :recipient_id, @users, :id, :email %>
  </div>
  <div>
    <%= form.submit "Send Greeting"%>
  </div>
<% end %>
<ul>
  <%= render @greetings %>
</ul>
