<!DOCTYPE html>
<html>
<head>
  <title>Greeter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
</head>
<body>

<div class="layout"><h2>Greeter</h2>
  <% if signed_in? %><div> signed in as <%= current_user.email %>. </div> <% end %> </div>
<%= yield %>

</body>
</html>
